.App {
  text-align: left; /* Center text inside the app */
}
.App-header {
  background-color: #713838; /* Dark background for header */
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* White text color */
}
.h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em; /* Adjust font size as needed */
  color: white; /* Adjust text color as needed */
}


